.catalog {
  margin-bottom: 100px;
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 26px;
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__filter-items {
    button {
      font-size: 14px;
      line-height: 17px;
      opacity: 0.7;
      background: #f0f0f4;
      border: none;
      border-radius: 3px;
      padding: 5px 22px;
      cursor: pointer;
    }
    button + button {
      margin-left: 8px;
    }
  }
  &__filter-btn {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
    }
    button + button {
      margin-left: 10px;
    }
  }
  &__inner {
    display: flex;
  }
  &__inner-aside {
    min-width: 290px;
    margin-right: 20px;
  }
  &__inner-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .product-item__wrap {
    &--list {
      width: 100%;
    }
  }
  .product-item {
    width: 100%;
  }
  .catalog__inner-list .product-item__wrap {
    margin-bottom: 30px;
  }
  .catalog__inner-list .product-item-img {
    max-width: 100%;
  }

  .aside-filter {
    &__tabs {
      max-width: 242px;
      display: flex;
      justify-content: space-between;
    }
    &__tab {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      color: #c4c4c4;
      padding-bottom: 7px;
    }
    &__tab.tab--active {
      font-weight: 700;
      color: #2f3035;
      border-bottom: 2px solid #1c62cd;
      padding-bottom: 7px;
    }
    &__item-drop {
      margin: 40px 0;
    }
    &__item-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      padding-left: 26px;
    }
    &__item-list {
      margin: 46px 0 40px;
    }
    .filter__item-drop {
      position: relative;
      cursor: pointer;
      &::before {
        position: absolute;
        content: "";
        width: 12px;
        height: 6px;
        background-image: url(../images/dist/catalog/arrow-down.svg);
        left: 0;
        bottom: 5px;
      }
    }
    .filter__item-drop--active {
      &::before {
        transform: rotate(180deg);
      }
    }
    .filter__item-list {
      padding-top: 34px;
      border-bottom: 2px solid #c4c4c4;
      display: flex;
      justify-content: space-between;
    }
    .filter__item-listtitle {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      padding-bottom: 14px;
      padding-left: 26px;
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      margin-top: 15px;
    }
    &__content-box {
      width: 50%;
      margin-bottom: 5px;
    }
    &__content-label {
      font-size: 14px;
      cursor: pointer;
      line-height: 17px;
    }
  }

  .aside-filter__content.aside-filter__content-radio {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .irs--flat {
    width: 100%;
    margin-top: -15px;
  }
  .irs-from,
  .irs-to {
    display: none;
  }
  .irs--flat .irs-min,
  .irs--flat .irs-max {
    top: 55px;
    padding: 0;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #2f3035;
    font-family: "Barlow", sans-serif;
    visibility: visible !important;
    padding-left: 27px;

    text-shadow: none;
    background-color: transparent;
    border-radius: 0px;
  }
  .irs-min::before,
  .irs-max::before {
    font-family: Display, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
    text-decoration: none;
    position: absolute;
    left: 0;
  }
  .irs-min::before {
    content: "от";
  }
  .irs-max::before {
    content: "до";
  }
  .irs--flat .irs-line {
    top: 25px;
    height: 1px;
    background-color: #e0e0e0;
    border-radius: 0px;
  }
  .irs--flat .irs-bar {
    top: 25px;
    height: 3px;
    background-color: #1c62cd;
  }
  .irs--flat .irs-handle {
    top: 22px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1c62cd;
  }
  .irs--flat .irs-handle > i:first-child {
    background-color: transparent;
  }
  .irs--flat .irs-from,
  .irs--flat .irs-to,
  .irs--flat .irs-single {
    display: none;
  }
  .filter-more {
    width: 100%;
  }
  .filter-more__btn {
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
    color: #1c62cd;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #1c62cd;
    padding: 0;
  }
  .filter-search {
    width: 100%;
    border: 1px solid #e0e0e0;
    height: 30px;
    padding: 0 20px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    &::placeholder {
      color: #bdbec2;
    }
  }
  .filter-btn__send {
    background: #f0f0f4;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #bdbec2;
    padding: 16px 85px;
    border: none;
    margin-bottom: 15px;
    &--active {
      background-color: #1c62cd;
      color: #fff;
    }
  }
  .aside-filter__item-btn {
    text-align: center;
  }
  .filter__extra {
    font-size: 13px;
    line-height: 16px;
    color: #2f3035;
    position: relative;
    padding-right: 29px;
    display: inline-block;
    margin-bottom: 15px;
    &::after {
      position: absolute;
      content: "";
      width: 12px;
      height: 6px;
      background-image: url(../images/dist/catalog/arrow-down.svg);
      right: 0;
      bottom: 4px;
    }
  }
  .filter__extra-content {
    display: none;
    margin-bottom: 15px;
  }
  .filter__extra.filter__item-drop--active::after {
    transform: rotate(180deg);
  }
  .filter-btn__reset {
    font-size: 13px;
    line-height: 16px;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    padding: 0;
    color: #c4c4c4;
    background-color: transparent;
  }
  .catalog__filter-btn {
    display: flex;
    align-items: center;
  }
  .catalog__filter-button {
    width: 26px;
    height: 21px;
    opacity: 0.3;
    &--active {
      opacity: 1;
    }
  }
  .jq-selectbox__select {
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494d;

    height: 19px;
    border: none;
    border-radius: 0px;
    background: transparent;
    box-shadow: none;
    padding: 0 25px 0 10px;
    text-shadow: none;
  }
  .select-item {
    border: 1.5px solid #d7d9df;
    font-size: 14px;
    line-height: 17px;
    color: #2f3035;
    margin-right: 34px;
    padding: 7px 10px 7px 20px;
  }
  .btn-checked .aside-filter__content {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .btn-checked .aside-filter__content-box {
    width: auto;
  }
  .btn-checked .aside-filter__content-label {
    position: relative;
    height: 25px;
    width: 63px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #c4c4c4;
  }
  .btn-checked__text {
    height: auto;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn-checked .jq-checkbox {
    background: #f0f0f4;
    height: 25px;
    width: 63px;
    border: none;
  }
  .btn-checked .jq-checkbox.checked {
    background: #1c62cd;
    color: #fff;
  }
  .btn-checked .jq-checkbox.checked ~ .btn-checked__text {
    color: #fff;
  }
  .btn-checked .jq-checkbox.checked .jq-checkbox__div {
    display: none;
  }
  .jq-selectbox li:hover,
  .jq-selectbox li.selected {
    background-color: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
  }
  .jq-selectbox li {
    color: rgba(0, 0, 0, 0.6);
  }
  .jq-selectbox__dropdown {
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    left: 0;
    padding-top: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 0px;
    background: #fff;
    box-shadow: none;
    font-family: "Barlow", sans-serif !important;
    font-size: 14px;
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border: none;
  }
  .jq-selectbox__trigger {
    position: absolute;
    width: 12px;
    height: 6px;
    background-image: url(../images/dist/catalog/arrow-down.svg);
    bottom: 5px;
    top: 6px;
    right: 9px;
    border-left: none;
  }
  .jq-checkbox,
  .jq-radio {
    background: #fff;
    width: 14px;
    height: 14px;
    border: 1.5px solid #c4c4c4;
    opacity: 0.54;
    border-radius: 1px;
    box-shadow: none;
    vertical-align: -2px;
    margin: 0 8px 0 0;
  }
  .aside__btn {
    display: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
    background-color: $accent;
  }
}
