.header {
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 122px;
    font-weight: 700;
  }
  .menu__item {
    display: inline-block;
  }
  .menu__btn {
    display: none;
    padding: 0;
  }
  .menu__item + .menu__item {
    padding-left: 50px;
  }
  .menu-mobile__list {
    position: absolute;
    width: 243px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: 999;
  }
  .menu-mobile__list--active {
    transform: translateX(0);
  }
  .menu-mobile__item {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menu-mobile__link {
    display: inline-block;
    margin-left: 53px;
    margin-top: 36px;
    transition: all .3s;
  }
  .header__mobile-address {
    font-weight: 700;
    padding-top: 29px;
    width: 181px;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    width: 171px;
  }
  .menu-mobile__img {
    position: absolute;
    left: 11px;
    bottom: 0;
  }
  .menu-mobile__line-wrapper {
    display: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2F3035;
    background: #F0F0F4;
    overflow-x: scroll;
  }
  .menu-mobile__line {
    width: 450px;
    padding: 15px 0 14px 15px;
  }
  &__box {
    display: flex;
  }
  &__address {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/dist/header/address-icon.svg);
      width: 30px;
      height: 30px;
      left: 0;
      top: -10px;
    }
	}
	&__bottom {
		margin-bottom: 80px;
	}
  .user-list {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  .user-list__item {
    padding-right: 10px;
  }
  .basket {
    position: relative;
  }
  .basket__num {
    position: absolute;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #fff;
    background: #1c62cd;
    border-radius: 50%;
    text-align: center;
    bottom: -6px;
    right: -14px;
  }
  .menu-categories {
    background: #f0f0f4;
    display: flex;
    justify-content: space-around;
    min-height: 53px;
    align-items: center;
    &__item {
      position: relative;
    }
    &__link {
      border-bottom: 3px solid transparent;
      padding: 15px 0 14px;
			position: absolute;
			font-size: 20px;
			top: 50%;
			animation: zoom-out;
			animation-duration: 0.1s;
			animation-timing-function: ease;
      left: 50%;
      transform: translate(-50%, -50%);
			transition: all 0.3s;
			&:hover {
				color: #000;
				animation: zoom-in;
				animation-duration: 0.3s;
				animation-fill-mode: forwards;
				animation-timing-function: ease;
			}
			&::before {
				content: "";
				width: 0;
				height: 3px;
				left: auto;
				right: 0;
				bottom: -2px;
				position: absolute;
				background-color: #1c62cd;
				transition: all 0.3s;
			}
			&:hover::before {
				width: 100%;
				right: auto;
				left: auto;
			}
    }
  }
}

