.products {
	margin-bottom: 80px;
	&__title {
		font-family: 'Barlow', sans-serif;
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 25px;
	}
	&__tabs {
		margin-bottom: 25px;
	}
	&__tab {
		padding-bottom: 10px;
	}
	&__tab.tab--active {
		border-bottom: 2px solid #1C62CD;
	}
	&__tab + .products__tab{
		margin-left: 50px;
	}
	&__item-more {
		text-align: center;
		margin: 34px 0 80px;
	}
	&__item-link {
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		background: #F0F0F4;
		padding: 17px 43px;
	}

	.products-slider__slider-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent;
		border: none;
		cursor: pointer;
		margin: 0;
		padding: 0;
		z-index: 5;
	}
	.products-slider__slider-btnnext {
		right: -40px;
	}
	.products-slider__slider-btnprev {
		left: -40px;
	}
}

