.products {
	margin-bottom: 80px;
	&__title {
		font-family: 'Barlow', sans-serif;
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 25px;
	}
	&__tabs {
		margin-bottom: 25px;
	}
	&__tab {
		padding-bottom: 10px;
	}
	&__tab.tab--active {
		border-bottom: 2px solid #1C62CD;
	}
	&__tab + .products__tab{
		margin-left: 50px;
	}
	&__item-more {
		text-align: center;
		margin: 34px 0 80px;
	}
	&__item-link {
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		background: #F0F0F4;
		padding: 17px 43px;
	}
	// .product-item__wrap {
	// 	transition: all .3s;
	// 	position: relative;
	// 	width: 271px;
	// 	&:hover{
	// 		box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
	// 	}
	// 	&:hover .product-item__title {
	// 		color: $accent;
	// 	}
	// 	&:hover .product-item__price {
	// 		color: $accent;
	// 	}
	// }
	// .product-item {
	// 	border: 1px solid #CDCDCD;
	// 	border-radius: 3px;
	// 	padding: 52px 20px 31px;
	// 	text-align: center;
	// 	min-height: 400px;
	// 	width: 271px;
	// 	transition: all .3s;
	// 	&:hover .product-item__hover-text {
	// 		opacity: 1;
	// 		color: initial;
	// 	}
	// 	&--sale {
	// 		&::before {
	// 			content: 'SALE';
	// 			position: absolute;
	// 			padding: 8px 15px ;
	// 			font-size: 12px;
	// 			line-height: 14px;
	// 			letter-spacing: 0.07em;
	// 			color: #FFFFFF;
	// 			text-transform: uppercase;
	// 			left: 0;
	// 			top: 0;
	// 			background: #1C62CD;
	// 		}
	// 	}
	// 	&__title {
	// 		padding-top: 14px;
	// 		padding-bottom: 25px;
	// 	}
	// 	&__notify-text {
	// 		display: none;
	// 		font-size: 18px;
	// 		line-height: 21px;
	// 		font-weight: 700;
	// 	}
	// 	&__notify-link {
	// 		display: none;
	// 		position: absolute;
	// 		bottom: 15px;
	// 		font-size: 16px;
	// 		line-height: 19px;
	// 		color: #1C62CD;
	// 		left: 42px;
	// 		text-align: center;
	// 		span {
	// 			border-bottom: 1px solid $accent;
	// 		}
	// 	}
	// 	&__price {
	// 		font-weight: 700;
	// 		font-size: 27px;
	// 		line-height: 32px;
	// 		text-align: center;
	// 	}
	// 	&__favorite {
	// 		position: absolute;
	// 		top: 16px;
	// 		right: 19px;
	// 		width: 24px;
	// 		height: 22px;
	// 		background-color: transparent;
	// 		border: none;
	// 		&::before  {
	// 			content: '';
	// 			position: absolute;
	// 			width: 24px;
	// 			height: 22px;
	// 			top: 0;
	// 			left: 0;
	// 			background-image: url(../images/dist/products/favorite.svg);
	// 		}
	// 		&--active {
	// 			&::before {
	// 				content: '';
	// 				position: absolute;
	// 				width: 24px;
	// 				height: 22px;
	// 				top: 0;
	// 				left: 0;
	// 				background-image: url(../images/dist/products/favorite-active.svg);
	// 			}
	// 		}
	// 	}
	// 	&__basket {
	// 		position: absolute;
	// 		width: 60px;
	// 		height: 40px;
	// 		background: #1C62CD;
	// 		border-radius: 10px 0px 0px 0px;
	// 		bottom: 0;
	// 		right: 0;
	// 		border: none;
	// 		cursor: pointer;
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 	}
	// 	&__hover-text {
	// 		top: 30%;
	// 		opacity: 0;
	// 		left: 20px;
	// 		right: 20px;
	// 		font-size: 20px;
	// 		line-height: 24px;
	// 		position: absolute;
	// 		display: inline-block;
	// 		padding: 18px 22px;
	// 		background-color: rgba(#FFFFFF, .9);
	// 		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
	// 		border-radius: 3px;
	// 		transition: all .3s;
	// 	}
	// }

	// .product-item__wrap.product-item__not-available  .product-item__price{
	// 	display: none;
	// }
	// .product-item__wrap.product-item__not-available  .product-item__notify-text{
	// 	display: block;
	// }
	// .product-item__wrap.product-item__not-available .product-item__basket {
	// 	display: none;
	// }
	// .product-item__wrap.product-item__not-available .product-item__notify-link {
	// 	display: block;
	// }
	// .product-item__wrap.product-item__not-available .product-item__title {
	// 	padding-bottom: 13px;
	// }

	.products-slider__slider-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: transparent;
		border: none;
		cursor: pointer;
		margin: 0;
		padding: 0;
		z-index: 5;
	}
	.products-slider__slider-btnnext {
		right: -40px;
	}
	.products-slider__slider-btnprev {
		left: -40px;
	}
}

